<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required on Android 11 (API 30+) to query all installed launchable apps -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:banner="@drawable/tv_banner"
        android:supportsRtl="true"
        android:theme="@style/Theme.PowerUI">

        <!-- 1. MainActivity: Proxy-launcher (HOME category, singleInstance, independent task, 0ms delay) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 2. Settings: Distinct task, automatically finishes on leave, cannot block MainActivity -->
        <activity
            android:name=".Settings"
            android:exported="true"
            android:label="@string/app_name"
            android:taskAffinity="com.qstar.powerui.settings"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:banner="@drawable/tv_banner"
            android:theme="@style/Theme.PowerUI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
